* {
  margin: 0px !important;
}
body {
  font-size: 12px !important;
  padding: 10px !important;
}
.bg-grey {
  background: #f7f7f7;
}
section > .container {
  width: 70%;
  margin: auto;
  display: block;
  padding: 20px 0;
}
#nav-bar > .container {
  padding: 0 50px;
  background-color: white !important;
}

p {
  margin: 5px 0 !important;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
}
ul {
  list-style-type: none;
}
h1.resize {
  font-size: 16px !important;
}
